<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Стартовая страница</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body style="padding: 30px">
<div class="top">
    <img src="img/hello-world.png" style="width: 300px">
    <br/>
    <h3>Добро пожаловать</h3>
    <a href="client">Перейти на страницу информации о клиентах</a>
</div>
</body>
</html>